.logo {
    margin-bottom: 3rem;
}
.HomeStoreLabel {
    font-size: 1.5rem;
    float: left;
    margin-top: 2rem;
    margin-left: 3rem;
}
.NavPanel {
    float: left;
    border-width: 2px;
    border-color: rgb(57, 70, 83);
    background-color: rgb(228, 231, 233);
    width: 15rem;
    text-align: left;
}
.MenuButtonParent {
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: white;
    border-color: rgb(57, 70, 83);
    width: 100%;
    font-size: 1.25rem;
}
.MenuButtonContent {
    display:none;
    position:absolute;
    /*left: 15rem;*/
    border-width: 2px;
    border-color: rgb(57, 70, 83);
    background-color: white;
}
.MenuButtonParent:hover .MenuButtonContent {
    display: inline;
}
.MenuButtonParent:hover .MenuButtonContent:hover{
    background-color: rgb(217, 219, 221);
}

.error {
    border-color: red;
}

.report {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-width: 1px;
    border-color: rgb(57, 70, 83);
    background-color: rgb(228, 231, 233);
}

.label-above-select {
    display: flex;
    flex-direction: column;
}

pre {
    font-family: 'Roboto Mono', monospace;
}