.logo {
    margin-bottom: 3rem;
}
.HomeStoreLabel {
    font-size: 1.5rem;
    float: left;
    margin-top: 2rem;
    margin-left: 3rem;
}
.NavPanel {
    float: left;
    border-width: 2px;
    border-color: rgb(57, 70, 83);
    background-color: rgb(228, 231, 233);
    width: 15rem;
    text-align: left;
}
.MenuButtonParent {
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: white;
    border-color: rgb(57, 70, 83);
    width: 100%;
    font-size: 1.25rem;
}
.MenuButtonContent {
    display:none;
    position:absolute;
    /*left: 15rem;*/
    border-width: 2px;
    border-color: rgb(57, 70, 83);
    background-color: white;
}
.MenuButtonParent:hover .MenuButtonContent {
    display: inline;
}
.MenuButtonParent:hover .MenuButtonContent:hover{
    background-color: rgb(217, 219, 221);
}

.error {
    border-color: red;
}

.report {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-width: 1px;
    border-color: rgb(57, 70, 83);
    background-color: rgb(228, 231, 233);
}

.label-above-select {
    display: flex;
    flex-direction: column;
}

.align-right {
    text-align: right;
}

/* Format for select inputs in fund transfer */
.select-input {
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 2.5rem;
    width: 15rem;
    border: 2px solid rgb(57, 70, 83); 
    border-radius: 5px;
    background-color: #FFFFFF; 
}

.select-input:hover {
    background-color: #F3F4F6;
}

.select-input-error {
    
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 2.5rem;
    width: 15rem;
    border: 2px solid red; 
    border-radius: 5px;
    background-color: #FFFFFF; 
}

.amount-input {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 2.5rem;
    width: 10rem;
    border: 2px solid rgb(57, 70, 83); 
    border-radius: 5px;
    background-color: #FFFFFF; 
    user-select: text;
}

.amount-input-error {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 2.5rem;
    width: 10rem;
    border: 2px solid red; 
    border-radius: 5px;
    background-color: #FFFFFF; 
    user-select: text;
}

/* Format for denomination inputs in fund transfer */
.denomination-input {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1rem; 
    margin-left: 1.5rem;
    margin-right: 2.5rem; 
    width: 6rem;
    float: right; 
    border: 2px solid rgb(57, 70, 83); 
    border-radius: 5px;
    background-color: #FFFFFF; 
}

.denomination-input:hover {
    background-color: #F3F4F6;
}

.showextra {
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    padding: .1em;
    text-align: center; 
    font-size: 1.25rem; 
    border-radius: 5px;
    background-color: white;
}

.showextra:hover {
    border-radius: 5px;
    background-color: #F3F4F6;
}

/* Format for individual denominations in fund transfer */
.denomination {
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    width: 30%;
    background-color: transparent;
    outline: none;
}


/* Table format for fund transfer (Used table generator https://www.tablesgenerator.com/html_tables#)*/
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:1px 10px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:1px 10px;word-break:normal;}
.tg .tg-c10m{background-color:#f9f9f9;border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mqa1{border-color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-i817{background-color:#f9f9f9;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-mcqj{border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}

pre {
    font-family: 'Roboto Mono', monospace;
}